{% load staticfiles %}
{% load is_night %}

<div style="position: relative">

    <div style="position: absolute; top: 0; left: 0; bottom: 0; right: 0;"
         class="bg-mode"></div>

    <div id="header-section" class="container text-white" style="position: relative; padding-top: 50px;">

        <div class="row">
            <div class="col-lg" style="padding-bottom: 100px;">
                <h1 class="fancy header font-weight-bold text-uppercase text-mode font-italic">
                    Let's realize your imagination.
                </h1>
                <h1 class="fancy mt-5 font-weight-light text-mode">
                    You benefit from my expertise in various areas of software engineering, marketing, teaching and design.
                </h1>
            </div>
            <div class="col-lg" style="padding-top: 100px;">
                <div id="header-background" style="height: 500px;"></div>
            </div>
        </div>

    </div>

</div>



<script>
    document.addEventListener("DOMContentLoaded", function(event) {

        var camera, scene, renderer, mesh, geometry;

        init();
        animate();

        function animate() {

            window.requestAnimationFrame(animate);
            renderer.render(scene, camera);

        }

        function onWindowResize() {
            var element = $("#header-background");
            camera.aspect = element.innerWidth() / element.innerHeight();
            camera.updateProjectionMatrix();

            var vFOV = THREE.Math.degToRad( camera.fov );
            var maxHeight = 2 * Math.tan( vFOV / 2 ) * camera.position.z;
            var maxWidth = height * camera.aspect;
            var imageAspect = 600 / 892;
            var height = maxHeight;
            var width = maxHeight * imageAspect;
            mesh.scale.set(width, height, 1);

            renderer.setSize(element.innerWidth(), element.innerHeight());
        }

        function init() {
            var element = $("#header-background");

            camera = new THREE.PerspectiveCamera(45, element.innerWidth() / element.innerHeight(), 1, 1000);

            renderer = new THREE.WebGLRenderer({
                antialias: true, alpha: true,
            });

            renderer.setSize(element.innerWidth(), element.innerHeight());
            element.prepend(renderer.domElement);

            scene = new THREE.Scene();

            var vertexShader = `
                varying vec2 vUv;

                void main()	{
                    vUv = uv;
                    gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
                }
            `;

            var fragmentShader = `
                #extension GL_OES_standard_derivatives : enable

                varying vec2 vUv;

                uniform float mouseX;
                uniform float mouseY;
                uniform float scrollOffset;
                uniform sampler2D depthTexture;
                uniform sampler2D texture;

                void main() {
                    vec2 vMouse = vec2(mouseX, mouseY);
                    vec2 vScrollOffset = vec2(0, scrollOffset);

                    float depth = texture2D(depthTexture, vUv).r;
                    gl_FragColor = texture2D(texture, vUv + vMouse * (1.0 - depth) + vScrollOffset);
                    // Do some edge anti aliasing, because the image contains
                    // a premultiplied alpha channel
                    gl_FragColor.rgb = gl_FragColor.rgb * gl_FragColor.a;
                }
            `;

            var textureLoader = new THREE.TextureLoader().load("{% static 'img/header-background.png' %}");
            var depthTextureLoader = new THREE.TextureLoader().load("{% static 'img/header-background-depth.jpg' %}");

            var shaderMaterial = new THREE.ShaderMaterial({
                uniforms: {
                    mouseX: {value: 0},
                    mouseY: {value: 0},
                    scrollOffset: {value: 0},
                    texture: {value: textureLoader},
                    depthTexture: {value: depthTextureLoader},
                },
                vertexShader,
                fragmentShader
            });

            camera.position.z = 200;

            geometry = new THREE.PlaneBufferGeometry(1, 1);
            mesh = new THREE.Mesh( geometry, shaderMaterial );

            scene.add(mesh);

            onWindowResize();

            window.addEventListener("resize", onWindowResize, false);

            var runningAnimation = anime({
                update: function(anim) {
                    var x = 0.015 * Math.sin((anim.progress / 100) * 2 * Math.PI);
                    var y = 0.02 * Math.cos((anim.progress / 100) * 2 * Math.PI);
                    shaderMaterial.uniforms.mouseX.value = x;
                    shaderMaterial.uniforms.mouseY.value = y;
                },
                easing: "easeInOutSine",
                duration: 4000,
                loop: true
            });

            var section = $("#header-section");
            section.mousemove(function(event) {
                runningAnimation.pause();
                var rect = $(this).get(0).getBoundingClientRect();
                var effectFactor = 0.07;
                var x = (Math.abs(rect.x - event.clientX) / rect.width - 0.5) * effectFactor;
                var y = (- (Math.abs(rect.y - event.clientY) / rect.height - 0.5)) * effectFactor;
                shaderMaterial.uniforms.mouseX.value = x;
                shaderMaterial.uniforms.mouseY.value = y;
            });

            section.mouseleave(function() {
                runningAnimation.play();
            });
        }
    });
</script>
