{% load staticfiles %}
{% load is_night %}

<div class="animate-background-transition bg-gradient-target {{ gradient.css_class }}" style="width: 100%; min-height: 100vh; position: relative">

    <div class="container pt-5 pb-5">
        <h1 class="fancy header text-white text-center">
                Services
            </h1>
            <p class="text-light text-center mt-3">
                I offer a variety of services that help us realize your project.
            </p>
        <div class="card-columns card-columns-lg text-center" style="margin-top: 100px; margin-bottom: 100px;">
        {% for service in services %}
            <div id="service-{{service.id}}" class="card rounded {% if now|is_night %}bg-dark border-dark text-white{% else %}bg-light text-dark border-light{% endif %} shadow-lg" style="position: relative;">
                <div class="card-body text-left">
                    <h4 class="font-weight-light m-0"> {{ service.title }}</h4>
                    <p class="mt-3">{{ service.description }}</p>
                    {% if service.readable_audio %}
                    <button class="btn btn-sm {% if now|is_night %}btn-outline-light{% else %}btn-outline-primary{% endif %} read-button"
                            data-audio-url="{{ service.readable_audio.url }}"
                    ><span class="fas fa-assistive-listening-systems"></span> Assistive reading <span class="badge badge-secondary">BETA</span></button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>

        <div class="card-columns card-columns-sm" style="margin-top: 100px; margin-bottom: 100px;">
        {% for technology in technologies %}
            <div id="technology-{{technology.id}}" class="card technology text-center rounded bg-transparent text-white shadow-lg" style="position: relative;">
                <div class="card-body p-2">
                    <p class="font-weight-bold m-0"> {{ technology.title }}</p>
                </div>
            </div>
        {% endfor %}
        </div>

        <p class="fancy header text-white text-center">
                ...and much more!
        </p>

    </div>

</div>

<script>

    document.addEventListener("DOMContentLoaded", function(event) {

        anime({
            targets: '.technology',
            scale: [
                {value: anime.random(0.95, 1.05), easing: 'easeInOutQuad', duration: 500},
                {value: 1, easing: 'easeInOutQuad', duration: 500}
            ],
            loopBegin: function(anim) {
                console.log(anim);
                $(this).toggleClass("active");
            },
            delay: anime.stagger(200, {grid: [5, 5], from: 'center'}),
            loop: true,
        });

    });

</script>



