{% load staticfiles %}
{% load is_night %}

<div id="siri-app-wrapper" class="bg-gradient-siri" style="height: 5000px; position: relative;">

    <div id="siri-app-sticky-wrapper" class="text-center text-white simulate-sticky-top" style="height: 700px;">

        <div class="iphone-lockscreen" id="scroll-down-to-unlock" style="padding-top: 90px; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 10px;">
            <i class="fas fa-lock"></i> scroll down to unlock
        </div>
        <div class="iphone-lockscreen" style="font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 60px">{% now "G:i" %}</div>
        <div class="iphone-lockscreen" style="font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 15px">{% now "jS \o\f F Y" %}</div>

        {% if now|is_night %}
        <div id="iphone-do-not-disturb" class="iphone-lockscreen text-left shadow" style="width: 270px; border-radius: 10px; position: absolute; top: 250px; left: 50%; transform: translate(-50%, 0); background-color: rgba(0, 0, 0, 0.8);">
            <div class="pl-2 pt-2 pr-2" style="color: #AAA; font-size: 10px; margin-right: 2rem;">DO NOT DISTURB DURING BEDTIME</div>
            <i class="fas fa-moon" style="position: absolute; right: 1rem; top: 25px;"></i>
            <div class="pl-2 pt-1 pr-2 pb-2" style="color: #DDD; font-size: 10px; margin-right: 2rem;">Calls will be silenced and notifications will appear in Notification Center.</div>
        </div>
        {% endif %}

        <div id="iphone-message" class="iphone-lockscreen text-left text-dark shadow" style="width: 270px; border-radius: 10px; position: absolute;{% if now|is_night %}top: 320px;{% else %}top: 250px;{% endif %} left: 50%; transform: translate(-50%, 0); background-color: rgba(255, 255, 255, 0.8);">
            <div class="pl-2 pt-2 pr-2" style="font-size: 10px; margin-right: 2rem;">CHAT APP</div>
            <i class="fas fa-comments" style="position: absolute; right: 1rem; top: 35px;"></i>
            <div class="pl-2 pt-1 pr-2" style="font-size: 10px; margin-right: 2rem;"><strong>Philipp Matthes</strong></div>
            <div class="pl-2 pr-2 pb-2" style="font-size: 10px; margin-right: 2rem;">Hey, how is it going? My name is Philipp. Let me tell you something about myself. ✌</div>
        </div>

        <div class="iphone-lockscreen siri-button text-left shadow text-dark" style="width: 270px; border-radius: 10px; position: absolute; bottom: 100px; left: 50%; transform: translate(-50%, 0); background-color: rgba(255, 255, 255, 0.8);">
            <div class="pl-2 pt-2 pr-2" style="font-size: 10px; margin-right: 2rem;">UPDATES HAVE BEEN INSTALLED</div>
            <i class="fas fa-cogs" style="position: absolute; right: 1rem; top: 25px;"></i>
            <div class="pl-2 pt-1 pr-2 pb-2" style="font-size: 10px; margin-right: 2rem;">We added a new Siri voice. Click this notification to test it.</div>
        </div>

        <div class="iphone-lockscreen" id="unlock-bar" style="height: 5px; width: 130px; border-radius: 5px; background-color: white; position: absolute; bottom: 35px; left: 50%; transform: translate(-50%, 0);"></div>

        <div class="iphone-app" style="height: 80px; width: 270px; position: absolute; background: rgba(0, 0, 0, 0.5); left: 50%; bottom: 38px; border-radius: 20px; transform: translate(-50%, 0); opacity: 0.0;"></div>

        <div class="iphone-app row ml-0 mr-0" style="position: absolute; left: 50%; bottom: 53px; width: 270px; transform: translate(-50%, 0); opacity: 0.0;">
            <div class="col pl-0 pr-0">
                <a href="https://apps.apple.com/de/app/no2/id1301654346" target="_blank"><img src="{% static 'img/app1.jpg' %}" class="app-icon"></a>
            </div>
            <div class="col pl-0 pr-0">
                <a href="https://apps.apple.com/de/app/sanduhr/id1298773811" target="_blank"><img src="{% static 'img/app2.jpg' %}" class="app-icon"></a>
            </div>
            <div class="col pl-0 pr-0">
                <a href="https://apps.apple.com/de/app/benno-netzwerk/id1443769539" target="_blank"><img src="{% static 'img/app3.jpg' %}" class="app-icon"></a>
            </div>
            <div class="col pl-0 pr-0">
                <a href="https://apps.apple.com/de/app/manni/id1347527695" target="_blank"><img src="{% static 'img/app4.jpg' %}" class="app-icon"></a>
            </div>
        </div>

        <div class="iphone-app row ml-0 mr-0" style="position: absolute; left: 50%; top: 100px; width: 270px; transform: translate(-50%, 0); opacity: 0.0;">
            <div class="col pl-0 pr-0">
                <a class="iphone-app" href="https://apps.apple.com/de/app/lautst%C3%A4rke/id1296210225" target="_blank"><img src="{% static 'img/app5.jpg' %}" class="app-icon"></a>
            </div>
            <div class="col pl-0 pr-0">
                <a class="iphone-app" href="https://apps.apple.com/de/app/pacebox/id1291956466" target="_blank"><img src="{% static 'img/app6.jpg' %}" class="app-icon"></a>
            </div>
            <div class="col pl-0 pr-0">
                <a class="siri-button" onclick="window.playGreetingAudio();">
                    <img src="{% static 'img/siri.jpg' %}" class="app-icon">
                </a>
            </div>
            <div class="col pl-0 pr-0">
                <img src="{% static 'img/message.jpg' %}" class="app-icon">
            </div>
        </div>

        <div id="iphone-chat-background" class="text-left" style="line-height: 120%; z-index: 1; height: 640px; width: 300px; border-radius: 30px; position: absolute; top: 40px; left: 50%; transform: translate(-50%, 0) scale(0); {% if now|is_night %}background-color: #111;{% else %} background-color: #fff;{% endif %}">
            <img src="{% static 'img/profile.jpeg' %}" style="width: 30px; height: 30px; border-radius: 15px; position: absolute; left: 13px; top: 47px;">
            <div class="bg-dark mt-5 ml-5 mr-3 mb-1 p-2" style="border-radius: 15px;">Hey, how is it going? My name is Philipp. Let me tell you something about myself. ✌</div>
            <div id="message-1" class="bg-dark ml-5 mr-3 mb-1 p-2" style="border-radius: 15px;">I study Computer Science at TU Dresden (on Diploma, currently in the 7th semester).</div>
            <div id="message-2" class="bg-dark ml-5 mr-3 mb-1 p-2" style="border-radius: 15px;">I work at TU Dresden as a developer and tutor since April 2018. Additionally, I am self-employed as a software developer and designer.</div>
            <div id="message-3" class="bg-dark ml-5 mr-3 mb-1 p-2" style="border-radius: 15px;">I like 🏸 badminton, 🏂 snowboarding, 🚴🏼‍ cycling and 🏋🏻‍ any other kind of sports.</div>
            <div id="message-4" class="bg-dark ml-5 mr-3 mb-1 p-2" style="border-radius: 15px;">If you are interested in software development, design or teaching, feel free to contact me!</div>
        </div>

        <div id="iphone-siri-background" class="text-left iphone-siri-background" style="line-height: 120%; z-index: 5; height: 640px; width: 300px; border-radius: 30px; position: absolute; top: 40px; left: 50%; transform: translate(-50%, 0) scale(0);">
            <div id="iphone-siri-greeting" class="mt-5 ml-3 mr-3 mb-1 p-2" style="opacity: 0.0;">Hey, I am Philipp. How can I help you?</div>
            <audio id="iphone-siri-greeting-audio" src="{% static 'audio/greeting.mp3' %}"></audio>
            <a id="iphone-siri-call-explanation"  class="mt-5 ml-3 mr-3 mb-1 p-2 text-white"><span class="fas fa-chevron-right"></span> How does this demo work?</a>
            <div id="iphone-siri-explanation" class="ml-3 mr-3 mb-1 p-2" style="font-size: 12px; opacity: 0;">
                This seems to be my voice, but it is not.
                It is a voice, which is generated by a convolutional neural network.
                This network is a so called "text to speech" algorithm.
                That said, it takes only text as an input and outputs a human-like voice.
                Still, it sounds a bit robot-like, but it is definitely an improvement over other approaches.
                My voice, the voice of Philipp, actually came from a female voice, on which this network was trained first.
                Using over seven hundred thousand steps, the network learned to pronounciate english words correctly.
                Because, however, only female samples from audio books were used, the resulting voice was also female.
                Interestingly, it took only a few thousand steps to apply so called "transfer learning" to transfer the voice into mine.
            </div>
            <audio id="iphone-siri-explanation-audio" src="{% static 'audio/explanation.mp3' %}"></audio>
            <button class="btn btn-outline-light" id="iphone-siri-leave-demo" style="position: absolute; bottom: 100px; left: 50%; transform: translate(-50%, 0); border-radius: 100px;"><span class="fas fa-times"></span></button>
            <div style="position: absolute; bottom: 0; width: 300px; height: 100px; left: 50%; transform: translate(-50%, 0);" id="siri-container"></div>
        </div>

        <img id="iphone" style="pointer-events:none; z-index: 10; position: absolute; top: 10px; left: 50%; height: 700px; transform: translate(-50%, 0)" src="{% static 'img/iphone.png' %}">
        <img id="iphone-shadow" style="pointer-events:none; position: absolute; bottom: -25px; left: 50%; transform: translate(-50%, 0); opacity: 0.5;" src="{% static 'img/iphone-shadow.png' %}">
    </div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {

        var siriWave = new SiriWave({
        	container: document.getElementById('siri-container'),
            style: "ios9",
            amplitude: 0.1,
            autostart: true,
        });

        $("#iphone-message").click(function() {
            var element = $("#siri-app-wrapper");
            $([document.documentElement, document.body]).animate({
                scrollTop: 1700
            }, 2000);
        });

        $("audio").on('playing', function() {
            anime({
                targets: siriWave,
                amplitude: 2,
                duration: 200,
                easing: 'easeInOutSine',
            });
        });

        $("audio").on('ended', function() {
            anime({
                targets: siriWave,
                amplitude: 0.1,
                duration: 200,
                easing: 'easeInOutSine',
            });
        });

        $(".siri-button").click(function() {
            $("#iphone-siri-greeting-audio").trigger("play");
            anime({
                targets: '#iphone-siri-background',
                opacity: 1.0,
                scale: 1.0,
                duration: 200,
                easing: 'easeInOutSine',
            });
            anime({
                targets: '#iphone-siri-greeting',
                opacity: 1.0,
                translateY: [10, 0],
                duration: 200,
                easing: 'easeInOutSine',
            });
        });

        $("#iphone-siri-leave-demo").click(function() {
            anime({
                targets: '#iphone-siri-call-explanation',
                opacity: 1.0,
                duration: 200,
            });
            anime({
                targets: '#iphone-siri-explanation',
                opacity: 0.0,
                translateY: 0,
                duration: 200,
            });
            anime({
                targets: '#iphone-siri-background',
                scale: 0.0,
                opacity: 0.0,
                duration: 200,
                easing: 'easeInOutSine',
            });
            $("#iphone-siri-explanation-audio").trigger("pause");
        });

        $("#iphone-siri-call-explanation").click(function() {
            anime({
                targets: '#iphone-siri-call-explanation',
                opacity: 0.0,
                duration: 200,
            });
            anime({
                targets: '#iphone-siri-explanation',
                opacity: 1.0,
                translateY: -20,
                duration: 200,
            });
            $("#iphone-siri-explanation-audio").trigger("play");
        });

        anime({
            targets:'#unlock-bar',
            translateY: [0, -5, 0],
            duration: 3000,
            delay: 500,
            easing: 'easeInOutSine',
        });

        var timeline = anime.timeline({
          easing: 'easeInOutSine',
          duration: 1500,
          autoplay: false,
        });

        var element = $("#siri-app-wrapper");
        var top = element.offset().top;
        var height = element.innerHeight();
        var deltaTop = window.scrollY - top;

        if (deltaTop <= 0) {
            anime({
                targets: '#iphone-message',
                opacity: [0.0, 1.0],
                translateY: [10, 0],
                duration: 800,
                delay: 300,
                easing: 'easeInOutSine',
            });
            timeline.add({
                duration: 50
            });
        } else {
            timeline.add({
                targets: '#iphone-message',
                opacity: 1.0,
                duration: 50,
                easing: 'easeInOutSine',
            });
        }

        timeline
            .add({
                duration: 50,
            })
            .add({
                targets: '.iphone-lockscreen',
                opacity: [1.0, 0.0],
                duration: 50,
                easing: 'easeInOutSine',
            })
            .add({
                targets: '.iphone-app',
                scale: [0.0, 1.0],
                opacity: [0.0, 1.0],
                duration: 50,
                easing: 'easeInOutSine',
            })
            .add({
                targets: '#iphone-chat-background',
                scale: [0.0, 1.0],
                duration: 50,
                easing: 'easeInOutSine',
            })
            .add({
                targets: '#message-1',
                opacity: [0.0, 1.0],
                translateY: [10, 0],
                duration: 100,
                easing: 'easeInOutSine',
            })
            .add({
                targets: '#message-2',
                opacity: [0.0, 1.0],
                translateY: [10, 0],
                duration: 100,
                easing: 'easeInOutSine',
            })
            .add({
                targets: '#message-3',
                opacity: [0.0, 1.0],
                translateY: [10, 0],
                duration: 100,
                easing: 'easeInOutSine',
            })
            .add({
                targets: '#message-4',
                opacity: [0.0, 1.0],
                translateY: [10, 0],
                duration: 100,
                easing: 'easeInOutSine',
            })
            .add({
                duration: 200,
            })

        function layout() {
            var element = $("#siri-app-wrapper");
            var top = element.offset().top;
            var height = element.innerHeight();
            var deltaTop = window.scrollY - top;
            var percentage = Math.min(Math.max(deltaTop, 0) / height, 1);

            timeline.seek(timeline.duration * percentage);

            var stickyWrapper = $("#siri-app-sticky-wrapper");
            var isBelow = deltaTop > (5000 - window.innerHeight);
            var isInside = window.pageYOffset >= top && !isBelow;
            var iphoneHeight = 700;
            var distToTopOrBottom = (window.innerHeight - iphoneHeight) / 2;
            if (isInside) {
                stickyWrapper.addClass("simulate-sticky-fixed");
                stickyWrapper.removeClass("simulate-sticky-absolute");
                stickyWrapper.css({"top": distToTopOrBottom, "bottom": "inherit"})
            } else if(isBelow) {
                stickyWrapper.removeClass("simulate-sticky-fixed");
                stickyWrapper.addClass("simulate-sticky-absolute");
                stickyWrapper.css({"bottom": distToTopOrBottom, "top": "inherit"})
            } else {
                stickyWrapper.removeClass("simulate-sticky-fixed");
                stickyWrapper.addClass("simulate-sticky-absolute");
                stickyWrapper.css({"top": distToTopOrBottom, "bottom": "inherit"})
            }
        }

        layout();

        window.addEventListener("scroll", layout);
        window.addEventListener("resize", layout);
    });
</script>
