{% load staticfiles %}
{% load is_night %}

<div style="width: 100%; position: relative" class="animate-background-transition bg-gradient-target {{ gradient.css_class }} pt-5 pb-5">

    <div id="timeline" class="container pt-5 pb-5">
		<h1 class="fancy header text-white text-center">
			Timeline
		</h1>
		<ul class="timeline mt-5">
			{% for milestone in milestones %}
			<li id="milestone-{{milestone.id}}">
				{% if milestone.readable_audio %}
                <button class="float-right btn btn-sm btn-outline-light read-button"
                        data-audio-url="{{ milestone.readable_audio.url }}"
                ><span class="fas fa-assistive-listening-systems"></span> Assistive reading <span class="badge badge-secondary">BETA</span></button>
                {% endif %}
				<h4 class="text-white">{{ milestone.title }}</h4>
				<p class="text-white">{{ milestone.description }}</p>
				{% spaceless %}
				<p class="text-white">
					{% if milestone.end_date %}
					{{ milestone.start_date|date:"M Y" }} - {{ milestone.end_date|date:"M Y" }}
					{% else %}
					{{ milestone.start_date|date:"M Y" }} - Today
					{% endif %}
				</p>
				{% endspaceless %}
			</li>
			{% endfor %}
		</ul>
    </div>
</div>



