{% load staticfiles %}


<div id="visualization-demo" style="height: 600px; width: 100%;">
    <div class="text-center" style="position: absolute; top: 3rem; z-index: -1; width: 100%;">
        <h1><i>TIME TO CREATE.</i></h1>
        <p>This page is currently under construction.</p>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {

		var camera, scene, renderer;

		init();
		animate();

        function animate() {

			window.requestAnimationFrame(animate);

			renderer.render(scene, camera);

		}

		function onWindowResize() {
            var element = $("#visualization-demo");
			camera.aspect = element.innerWidth() / element.innerHeight();
			camera.updateProjectionMatrix();

			renderer.setSize(element.innerWidth(), element.innerHeight());
		}

        function onScroll(event) {
            var element = $("#visualization-demo");
            var top = element.offset().top;
            var bottom = element.offset().bottom;
            camera.position.z = ((window.scrollY - top) / 200.0);
        }

        function animationLoop(templateGeometry, meshPositions) {

            var randFrom = [
                'first',
                'last',
                'center'
            ];

            var easing = [
                'linear',
                'easeInOutQuad',
                'easeInOutCubic',
                'easeInOutQuart',
                'easeInOutQuint',
                'easeInOutSine',
                'easeInOutExpo',
                'easeInOutCirc',
                'easeInOutBack',
            ];

            var randFrom = randFrom[Math.floor(Math.random() * randFrom.length)];
            var easingString = easing[Math.floor(Math.random() * easing.length)];

            var nCols = 30 + Math.floor(Math.random() * 10);
            var nRows = 30 + Math.floor(Math.random() * 10);

            anime({
                targets: meshPositions,
                z: [
                    {value: -3.5, duration: 500},
                    {value: -5.0, duration: 2000},
                ],
                delay: anime.stagger(100, {grid: [nRows, nCols], from: randFrom}),
                easing: easingString,
                complete: (anim) => animationLoop(templateGeometry, meshPositions, nRows, nCols)
            });

          }

		function init() {
            var element = $("#visualization-demo");

			camera = new THREE.PerspectiveCamera(95, element.innerWidth() / element.innerHeight(), 1, 20.0);
            camera.position.z = -2.0;
            camera.position.x = 3;
            camera.position.y = -2;
            camera.rotation.x = Math.PI / 3.0;
            camera.rotation.y = Math.PI / 4.0;


            renderer = new THREE.WebGLRenderer({
                antialias: true, alpha: true
            });

			renderer.setPixelRatio( window.devicePixelRatio );
            renderer.setSize(element.innerWidth(), element.innerHeight());
            element.prepend(renderer.domElement);

			scene = new THREE.Scene();


            var vertexShader = `
                varying vec2 vUv;
                varying vec3 vPosition;

                void main()	{
                    vUv = uv;
                    vPosition = position;
                    gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
                }
            `;

            var fragmentShader = `
                #extension GL_OES_standard_derivatives : enable

                varying vec2 vUv;
                varying vec3 vPosition;
                uniform float thickness;

                uniform vec3 color1;
                uniform vec3 color2;
                uniform vec3 color3;
                uniform vec3 color4;
                uniform vec3 color5;

                float edgeFactor(vec2 p){
                    vec2 grid = abs(fract(p - 0.5) - 0.5) / fwidth(p) / thickness;
                    return min(grid.x, grid.y);
                }

                void main() {
                    vec3 color = vec3(0.0);
                    float gradient = vPosition.z;
                    if (gradient < 0.2) {
                        color = mix(color1, color2, gradient);
                    } else if (gradient < 0.4) {
                        color = mix(color2, color3, gradient);
                    } else if (gradient < 0.6) {
                        color = mix(color3, color4, gradient);
                    } else if (gradient < 0.8) {
                        color = mix(color4, color5, gradient);
                    } else {
                        color = color5;
                    }

                    float a = edgeFactor(vUv);

                    gl_FragColor = vec4(color, a);
                }
            `;

            var material = new THREE.ShaderMaterial({
                uniforms: {
                    thickness: {
                        value: 1.5
                    },
                    color1: {type: 'vec3', value: new THREE.Color("#4b7bec")},
                    color2: {type: 'vec3', value: new THREE.Color("#45aaf2")},
                    color3: {type: 'vec3', value: new THREE.Color("#2bcbba")},
                    color4: {type: 'vec3', value: new THREE.Color("#26de81")},
                    color5: {type: 'vec3', value: new THREE.Color("#20bf6b")},
                },
                vertexShader,
                fragmentShader
            });

            var templateGeometry = new THREE.BoxBufferGeometry(0.3, 0.3, 1.0);
            var templateMesh = new THREE.Mesh(templateGeometry, material);
            var meshPositions = [];

            var iMax = 20;
            var jMax = 20;

            for (var i = -iMax; i <= iMax; i++) {
                for (var j = -jMax; j <= jMax; j++) {
                    var mesh = templateMesh.clone();
        			scene.add(mesh);
                    var size = 1.1 - (Math.abs(i) * Math.abs(j) / 100);
                    mesh.scale.set(Math.random() + 0.1, Math.random() + 0.1, 1.0);
                    mesh.position.set(i / 3, j / 3, -5.0);
                    meshPositions.push(mesh.position);
                }
            }

			window.addEventListener('resize', onWindowResize, false);
            window.addEventListener("scroll", onScroll);

            animationLoop(templateGeometry, meshPositions);
		}

    });
</script>
