
html, body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    max-width: 100%;
    overflow-x: hidden;
}

.elegant-text-shadow {
  background-color: hsl(0,0%,80%);
  letter-spacing: .15em;
  color: hsl(0,0%,94%);
  text-shadow:
    -1px 2px 1px hsl(0,0%,52%),
    -2px 4px 1px hsl(0,0%,54%),
    -3px 6px 1px hsl(0,0%,56%),
    -4px 8px 1px hsl(0,0%,58%),
    -5px 10px 1px hsl(0,0%,60%),
    -6px 12px 1px hsl(0,0%,62%),
    -7px 14px 1px hsl(0,0%,64%),
    -8px 16px 1px hsl(0,0%,66%),
    -9px 18px 1px hsl(0,0%,66%),
    -10px 20px 1px hsl(0,0%,68%),
    -11px 22px 1px hsl(0,0%,70%),
    -12px 24px 1px hsl(0,0%,72%),
    -13px 26px 1px hsl(0,0%,74%),
    -14px 28px 1px hsl(0,0%,76%),
    -15px 30px 1px hsl(0,0%,78%),
    -16px 32px 1px hsl(0,0%,80%),
    -17px 34px 1px hsl(0,0%,78%)
}

.animate-background-transition {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.bg-dark-custom {
    background-color: #1e272e !important;
}

.iphone-siri-background {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0f2027+0,203a43+50,2c5364+100 */
background: #0f2027; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #0f2027 0%, #203a43 50%, #2c5364 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #0f2027 0%,#203a43 50%,#2c5364 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #0f2027 0%,#203a43 50%,#2c5364 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f2027', endColorstr='#2c5364',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.app-icon {
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.simulate-sticky-absolute {
    position: absolute;
    width: 100%;
}

.simulate-sticky-fixed {
    position: fixed;
    width: 100%;
}

.hoverable-icon-lockscreen {
    -webkit-transition: background-color 200ms ease;
    -ms-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
}

.rounded {
    border-radius: 1rem !important;
}

.rounded-left {
    border-radius: 25px 0 0 25px;
}

.rounded-right {
    border-radius: 0 25px 25px 0;
}

.iphone-face-id-flash {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e00479+0,8f0222+44,000000+100 */
    background: #e00479; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #e00479 0%, #8f0222 44%, #000000 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #e00479 0%,#8f0222 44%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #e00479 0%,#8f0222 44%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e00479', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg-clip-text {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 27px;
    width: 6px;
    height: 100%;
    z-index: 400;
    border-radius: 3px;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #eeeeee;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.alert-darker {
    color: #f0f0f0;
    background-color: #1e272e;
    border-color: #909090;
}

h1.fancy {
    font-size: 40px;
    font-weight: 700;
}

h1.fancy.header {
    font-size: 60px;
    font-weight: 700;
}

.card-columns {
    column-count: 2;
}

@media screen and (max-width: 800px) {
    h1.fancy {
        font-size: 30px;
    }

    h1.fancy.header {
        font-size: 40px;
    }

    .card-columns {
        column-count: 1;
    }
}

