{% load staticfiles %}

<div style="position: relative">
    <div style="position: absolute; top: 0; left: 0; bottom: 0; right: 0;" class="bg-mode"></div>

    <div class="container  pb-5 pt-5 text-center" style="position: relative;">

        <div id="artwork-container" class="masonry text-center" style="margin-top: 100px;">

        </div>

        <p class="mt-5 text-mode" id="artwork-end-hint" style="opacity: 0;">So far, that's all.</p>

    </div>

    <div id="artwork-modals-container">

    </div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {

        var artworkIds = [
            {% for artwork in artworks %}
            "{{ artwork.id }}",
            {% endfor %}
        ];

        var offset = window.innerHeight;

        function onResize() {
            offset = window.innerHeight;
        }

        function loadMoreArtworksIfNecessary() {
            var element = $("#artwork-end-hint");
            var top = element.offset().top;
            var deltaTop = window.scrollY - top + offset;
            if (deltaTop > 0) {
                var artworkId = artworkIds.shift();
                if (typeof artworkId === "undefined") {
                    anime({
                        targets: '#artwork-end-hint',
                        opacity: 1,
                        easing: "easeInOutSine",
                        duration: 1000,
                    });
                    window.removeEventListener("scroll", loadMoreArtworksIfNecessary);
                    window.removeEventListener("resize", onResize);
                    return;
                }
                $.ajax({
                    url: "{% url 'get_artwork' %}",
                    type: "get",
                    headers: {"X-CSRFToken": "{{ csrf_token }}"},
                    data: {"artwork_id": artworkId},
                    dataType: "json",
                    success: function(response) {
                        if (response.success === true) {
                            $("#artwork-container").append(response.html);
                            var id = "#art-" + artworkId;
                            window.applyShine($(id));
                            anime({
                                targets: id,
                                scale: 1,
                                opacity: 1,
                                easing: "easeOutSine",
                                duration: 500,
                            });
                            $(id).click(function() {
                                var modal = $("#artwork-modal-" + artworkId);
                                if (modal.length) {
                                    modal.modal('show');
                                    $("#artwork-modal-" + artworkId + " video").trigger("play");
                                } else {
                                    $.ajax({
                                        url: "{% url 'get_artwork_modal' %}",
                                        type: "get",
                                        headers: {"X-CSRFToken": "{{ csrf_token }}"},
                                        data: {"artwork_id": artworkId},
                                        dataType: "json",
                                        success: function(response) {
                                            if (response.success === true) {
                                                $("#artwork-modals-container").html(response.html);
                                                var modal = $("#artwork-modal-" + artworkId);
                                                modal.modal('show');
                                                modal.on("hidden.bs.modal", function () {
                                                    $("#artwork-modal-" + artworkId + " video").trigger("pause");
                                                });
                                                {% if user and user.is_superuser %}
                                                $("#artwork-modal-delete-button-" + artworkId).click(function() {
                                                    if (confirm("Delete this artwork?")) {
                                                        $.post({
                                                            url: "{% url 'delete_artwork' %}",
                                                            headers: {"X-CSRFToken": "{{ csrf_token }}"},
                                                            dataType: "json",
                                                            data: {"artwork_id": artworkId},
                                                            success: function(response) {
                                                                if (response.success !== true) {
                                                                    alert("Unable to delete this artwork.");
                                                                } else {
                                                                    modal.modal('hide');
                                                                    $("#art-" + artworkId).remove();
                                                                }
                                                            }
                                                        });
                                                    }
                                                });
                                                {% endif %}
                                            }
                                        }
                                    });
                                }
                            });
                            loadMoreArtworksIfNecessary();
                        }
                    }
                });
            }
        }

        window.addEventListener("scroll", loadMoreArtworksIfNecessary);
        window.addEventListener("resize", onResize);

        loadMoreArtworksIfNecessary();

    });
</script>
