
<div id="art-{{model.id}}"
     class="art card rounded masonry-brick m-2
            bg-mode border-mode text-mode  shadow-lg"
     style="height: 30vh; width: 30vh; position: relative; opacity: 0; transform: scale(0); background-size: cover; background-position: center;
            {% if model.video %}
                background-image: url({{ model.video.thumbnail.url }});
            {% else %}
                background-image: url({{ model.file.url }});
            {% endif %}
            ">
    {% if model.video %}
    <span style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 100px;" class="fas fa-play-circle text-white"></span>
    {% endif %}
</div>
