{% load is_night %}

<div id="art-{{model.id}}"
     class="art card rounded masonry-brick m-2
            {% if now|is_night %}bg-dark border-dark text-white{% else %}bg-light text-dark border-light{% endif %} shadow-lg"
     style="{% if not model.is_video %}height: 30vh; width: 30vh; {% endif %}position: relative; opacity: 0; transform: scale(0);
             {% if not model.is_video %}
            background-image: url({{ model.file.url }}); background-size: cover; background-position: center;
             {% endif %}">
        {% if model.is_video %}
            <video controls muted playsinline preload="none" src="{{ model.file.url }}" type='video/mp4' class="rounded video-background"></video>
        {% endif %}
</div>
