{% extends 'homepage/base.html' %}

{% load staticfiles %}
{% load is_night %}

{% block body %}

    {% include 'siri/app.html' %}

    <nav class="navbar navbar-expand-lg navbar-dark shadow animate-background-transition bg-gradient-target {{ gradient.css_class }}" style="position: sticky; top: 0; z-index: 1337">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggler" aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white"></span>
          </button>
          <a class="navbar-brand" style="font-weight: 700;" href="#">PHILIPPMATTH.ES</a>

          <div class="collapse navbar-collapse" id="navbar-toggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              {% if services %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="#" id="navbar-dropdown-services" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbar-dropdown-services">
                    {% for service in services %}
                        <a class="dropdown-item" href="#service-{{service.id}}">{{service.title}}</a>
                    {% endfor %}
                </div>
              </li>
              {% endif %}
              {% if projects %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="#" id="navbar-dropdown-projects" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Projects
                </a>
                <div class="dropdown-menu" aria-labelledby="navbar-dropdown-projects">
                    {% for project in projects %}
                        <a class="dropdown-item" href="#project-{{project.id}}">{{project.title}}</a>
                    {% endfor %}
                </div>
              </li>
              {% endif %}
              <li class="nav-item"><a class="nav-link" href="#timeline">Timeline</a></li>
              <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
            <div class="my-2 my-lg-0">
                <a class="btn btn-outline-light rounded my-2 my-sm-0" href="tel:+49 176 42090978"><span class="fas fa-phone"></span> +49 176 42090978</a>
            </div>
          </div>
        </div>
    </nav>

    {% if now|is_night %}
    <div class="container" style="position: sticky; top: 64px; z-index: 1337;">
        <div class="alert alert-darker rounded alert-dismissible fade show mt-2 shadow" role="alert">

            Hi! To protect your eyes, the website is displayed in a <strong>dark version</strong> until 6:00 am.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    {% endif %}


    {% include 'header/app.html' %}
    {% include 'services/app.html' %}
    {% include 'projects/app.html' %}
    {% include 'timeline/app.html' %}
    {% include 'contact/app.html' %}

{% endblock %}

{% block extrabody %}

<script>
    $(document).ready(function() {
        var currentGradientIndex = 0;
        var gradientClasses = [
            {% for g in gradients %}
            "{{ g.css_class }}",
            {% endfor %}
        ];
        var svgGradientIds = [
            {% for g in gradients%}
            "{{ g.svg_gradient_id }}",
            {% endfor %}
        ];
        var gradientStartColors = [
            {% for g in gradients %}
            "{{ g.color_start }}",
            {% endfor %}
        ];
        var gradientEndColors = [
            {% for g in gradients %}
            "{{ g.color_end }}",
            {% endfor %}
        ];
        $(".bg-gradient-trigger").click(function() {
            var bgGradientTargets = $(".bg-gradient-target");
            bgGradientTargets.removeClass(gradientClasses[currentGradientIndex]);
            currentGradientIndex = (currentGradientIndex + 1) % gradientClasses.length;
            bgGradientTargets.addClass(gradientClasses[currentGradientIndex]);

            var svgStrokeTargets = $(".svg-stroke-target g");
            svgStrokeTargets.attr("stroke", "url(#" + svgGradientIds[currentGradientIndex] + ")");

            window.shaderMaterial.uniforms.colorStart.value = new THREE.Color(gradientStartColors[currentGradientIndex]);
            window.shaderMaterial.uniforms.colorEnd.value = new THREE.Color(gradientEndColors[currentGradientIndex]);
        });
    });
</script>

{% endblock %}