{% load is_night %}
{% load staticfiles %}

<div style="position: relative">
    <div style="position: absolute; top: 0; left: 0; bottom: 0; right: 0;"
         class="bg-mode"></div>

    <div id="contact" class="pb-5 pt-5 text-center" style="width: 100%; z-index: 1337; position: relative">
        <div id="visualization-demo" style="position: relative; height: 500px; width: 100%;">
            <img src="{% static 'img/me.jpeg' %}" class="mt-3 mb-3"
                 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 200px; max-width: 100%; -webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;">
        </div>
        <div class="container">
            <h1 class="fancy header bg-gradient-target bg-clip-text {{ gradient.css_class }}">
                Contact
            </h1>
            <h5><a class="text-mode" href="tel:+49 176 42090978">+49 176 42090978</a></h5>
            <h5><a class="text-mode" href="mailto:hello@philippmatth.es">hello@philippmatth.es</a></h5>
        </div>
    </div>
</div>

{% comment %}
<script>
    document.addEventListener("DOMContentLoaded", function(event) {

        var camera, scene, renderer, mesh, geometry, meshRotations, meshRotationSpeeds;

        init();
        animate();

        function animate() {

            window.requestAnimationFrame(animate);
            for (var i = 0; i < meshRotations.length; i++) {
                meshRotations[i].x += meshRotationSpeeds[i];
                meshRotations[i].y += meshRotationSpeeds[i];
                meshRotations[i].z += meshRotationSpeeds[i];
            }
            renderer.render(scene, camera);

        }

        function onWindowResize() {
            var element = $("#visualization-demo");
            camera.aspect = element.innerWidth() / element.innerHeight();
            camera.updateProjectionMatrix();

            renderer.setSize(element.innerWidth(), element.innerHeight());
        }

        function onScroll() {
            var element = $("#visualization-demo");
            var top = element.offset().top;
            camera.position.z = ((window.scrollY - top) / 300.0);
        }

        function init() {
            var element = $("#visualization-demo");

            const zNear = 5.0;
            const zFar = 40.0;

            camera = new THREE.PerspectiveCamera(95, element.innerWidth() / element.innerHeight(), zNear, zFar);


            renderer = new THREE.WebGLRenderer({
                antialias: true, alpha: true
            });

            renderer.setPixelRatio( window.devicePixelRatio );
            renderer.setSize(element.innerWidth(), element.innerHeight());
            element.prepend(renderer.domElement);

            scene = new THREE.Scene();

            var vertexShader = `
                uniform float zFar;
                uniform float zNear;

                varying vec3 vDepth;
                varying vec3 vNormals;

                vec3 calculateNormalizedDepth() {
                    float distanceToCamera = length(cameraPosition.xyz - position.xyz);
                    float normalizedDepth = (distanceToCamera) / (zNear + zFar);
                    return vec3(normalizedDepth);
                }

                void main()	{
                    vDepth = calculateNormalizedDepth();
                    vNormals = normal;
                    gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
                }
            `;

            var fragmentShader = `
                #extension GL_OES_standard_derivatives : enable

                varying vec3 vDepth;
                varying vec3 vNormals;

                uniform float thickness;
                uniform vec3 colorStart;
                uniform vec3 colorEnd;

                float edgeFactor(vec2 p){
                    vec2 grid = abs(fract(p - 0.5) - 0.5) / fwidth(p) / thickness;
                    return min(1.0, max(0.0, min(grid.x, grid.y)));
                }

                void main() {
                    vec3 color = mix(colorStart, colorEnd, length(vDepth));
                    gl_FragColor = vec4(mix(vNormals, color, 0.9), 1.0);
                }
            `;

            window.shaderMaterial = new THREE.ShaderMaterial({
                uniforms: {
                    thickness: {
                        value: 1.5
                    },
                    width: { value: window.innerWidth },
                    zNear: { value: zNear },
                    zFar: { value: zFar },
                    height: { value: window.innerHeight },
                    colorStart: {type: 'vec3', value: new THREE.Color("{{ gradient.color_start }}")},
                    colorEnd: {type: 'vec3', value: new THREE.Color("{{ gradient.color_end }}")},
                },
                vertexShader,
                fragmentShader
            });

            geometry = new THREE.TorusKnotBufferGeometry( 10, 1, 20, 3, 1, 5 );
            mesh = new THREE.Mesh( geometry, window.shaderMaterial );

            meshRotations = [];
            meshRotationSpeeds = [];

            var totalNumberOfRings = 2;
            for (var i = 0; i < totalNumberOfRings; i++) {
                var clonedMesh = mesh.clone();
                scene.add(clonedMesh);
                clonedMesh.position.set(0, 0, -25.0);
                if (i !== 0) {
                    var r = (i / totalNumberOfRings) * (Math.PI * 2.0);
                    clonedMesh.rotation.set(r, r, r);
                }
                meshRotations.push(clonedMesh.rotation);
                meshRotationSpeeds.push(Math.random() / 100);
            }

            window.addEventListener('resize', onWindowResize, false);
            window.addEventListener("scroll", onScroll);
        }

    });
</script>

{% endcomment %}
