{% load is_night %}

<footer id="contact" class="p-4 {% if now|is_night %}bg-dark-custom{% else %}bg-light{% endif %}" style=" margin-top: 100px; width: 100%; z-index: 1337;">
    <div id="visualization-demo" style="height: 400px; width: 100%; margin-bottom: 500px">
        <div class="container {% if now|is_night %}text-light{% else %}text-dark{% endif %} text-center">
            <h1 class="bg-gradient-target bg-clip-text {{ gradient.css_class }}"
                style="font-size: 60px; font-weight: 700;">
                    Interested?
                </h1>
            <h3><a class="{% if now|is_night %}text-light{% else %}text-dark{% endif %}" href="tel:+49 176 42090978">+49 176 42090978</a></h3>
            <h3><a class="{% if now|is_night %}text-light{% else %}text-dark{% endif %}" href="mailto:hello@philippmatth.es">hello@philippmatth.es</a></h3>
            <h2 class="mt-5 bg-gradient-target bg-clip-text {{ gradient.css_class }}"
                style="font-size: 20px; font-weight: 700;">Created with ❤️ by Philipp Matthes.</h2>
            <p class="mt-2">Clara-Viebig-Straße 9, 01159 Dresden</p>
        </div>
    </div>

</footer>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {

        var camera, scene, renderer;

        init();
        animate();

        function animate() {

            window.requestAnimationFrame(animate);

            renderer.render(scene, camera);

        }

        function onWindowResize() {
            var element = $("#visualization-demo");
            camera.aspect = element.innerWidth() / element.innerHeight();
            camera.updateProjectionMatrix();

            renderer.setSize(element.innerWidth(), element.innerHeight());
        }

        function onScroll(event) {
            var element = $("#visualization-demo");
            var top = element.offset().top;
            var bottom = element.offset().bottom;
            camera.position.z = ((window.scrollY - top) / 300.0);
        }

        function animationLoop(templateGeometry, meshPositions) {

            var randFrom = [
                'first',
                'last',
                'center'
            ];

            var easing = [
                'linear',
                'easeInOutQuad',
                'easeInOutCubic',
                'easeInOutQuart',
                'easeInOutQuint',
                'easeInOutSine',
                'easeInOutExpo',
                'easeInOutCirc',
                'easeInOutBack',
            ];

            var randFrom = randFrom[Math.floor(Math.random() * randFrom.length)];
            var easingString = easing[Math.floor(Math.random() * easing.length)];

            var nCols = 30 + Math.floor(Math.random() * 10);
            var nRows = 30 + Math.floor(Math.random() * 10);

            anime({
                targets: meshPositions,
                z: [
                    {value: -3.5, duration: 500},
                    {value: -5.0, duration: 2000},
                ],
                delay: anime.stagger(100, {grid: [nRows, nCols], from: randFrom}),
                easing: easingString,
                complete: (anim) => animationLoop(templateGeometry, meshPositions, nRows, nCols)
            });

          }

        function init() {
            var element = $("#visualization-demo");

            camera = new THREE.PerspectiveCamera(95, element.innerWidth() / element.innerHeight(), 1, 20.0);


            renderer = new THREE.WebGLRenderer({
                antialias: true, alpha: true
            });

            renderer.setPixelRatio( window.devicePixelRatio );
            renderer.setSize(element.innerWidth(), element.innerHeight());
            element.prepend(renderer.domElement);

            scene = new THREE.Scene();


            var vertexShader = `
                varying vec2 vUv;
                varying vec3 vPosition;

                void main()	{
                    vUv = uv;
                    vPosition = position;
                    gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
                }
            `;

            var fragmentShader = `
                #extension GL_OES_standard_derivatives : enable

                varying vec2 vUv;
                varying vec3 vPosition;
                uniform float thickness;

                uniform vec3 colorStart;
                uniform vec3 colorEnd;

                float edgeFactor(vec2 p){
                    vec2 grid = abs(fract(p - 0.5) - 0.5) / fwidth(p) / thickness;
                    return min(grid.x, grid.y);
                }

                void main() {
                    vec3 color = vec3(0.0);
                    float gradient = vPosition.z;
                    color = mix(colorStart, colorEnd, gradient);

                    float a = edgeFactor(vUv);

                    gl_FragColor = vec4(color, a);
                }
            `;

            window.shaderMaterial = new THREE.ShaderMaterial({
                uniforms: {
                    thickness: {
                        value: 1.5
                    },
                    colorStart: {type: 'vec3', value: new THREE.Color("{{ gradient.color_start }}")},
                    colorEnd: {type: 'vec3', value: new THREE.Color("{{ gradient.color_end }}")},
                },
                vertexShader,
                fragmentShader
            });

            var templateGeometry = new THREE.BoxBufferGeometry(0.3, 0.3, 1.0);
            var templateMesh = new THREE.Mesh(templateGeometry, window.shaderMaterial);
            var meshPositions = [];

            var iMax = 4;
            var jMax = 4;

            for (var i = -iMax; i <= iMax; i++) {
                for (var j = -jMax; j <= jMax; j++) {
                    var mesh = templateMesh.clone();
                    scene.add(mesh);
                    var size = 1.1 - (Math.abs(i) * Math.abs(j) / 100);
                    mesh.scale.set(1.0, 1.0, 1.0);
                    mesh.position.set(i / 3, j / 3, -5.0);
                    meshPositions.push(mesh.position);
                }
            }

            window.addEventListener('resize', onWindowResize, false);
            window.addEventListener("scroll", onScroll);

            animationLoop(templateGeometry, meshPositions);
        }

    });
</script>
